<div class="header-container">
  <div class="nav fixed-top">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="nav-item float-left">
            <a class="nav-link" routerLink="" routerLinkActive="active">INDEX</a>
          </div>
          <div class="nav-item float-left">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
          </div>
          <div class="nav-item float-left">
            <a class="nav-link" routerLink="/home/dashboard" routerLinkActive="active">DASHBOARD</a>
          </div>

          <div class="nav-item float-left">
            <a class="nav-link" routerLink="/docs" routerLinkActive="active">DOCS</a>
          </div>
          <div class="nav-item float-left">
            <a class="nav-link" routerLink="/guides" routerLinkActive="active">GUIDES</a>
          </div>
        </div>
        <div class="col">
          <div class="nav-item float-right">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
