@import "../../../assets/style/scss/_variables.scss";

.guides-container{
  .flex-container{
    text-align: center;
    .flex-item {
      display: inline-block;
      padding:5px 10px;
      margin: 5px;
      height: 2.3em;
      line-height: 2.3em;
      background-color: $white;
      border: 1px solid $orange;
      color: $orange;
      .placeholder {
      }
    }
  }
}
