<div class="guides-container">
  <div class="body-container container">

    <div class="flex-container">

      <div class="flex-item">
          <div class="placeholder">Flex</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Grid</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">List</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Navbar</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Panel</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">ActionSheet</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Accordion</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Article</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Footer</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Gallery</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Mask</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Dialog</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Toast</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Msg</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">InfiniteLoader</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">PullToRefresh</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">LoadMore</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Badge</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Icons</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Button</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Input</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">VCode</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Textarea</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Picker</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">CityPicker</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">DatePicker</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">DateTimePicker</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">TimePicker</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Popup</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Preview</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Progress</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">SearchBar</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Slider</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Tabbar</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Countdown</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Toptips</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Rating</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Uploader</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Sidebar</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">Stepper</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Pagination</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Popover</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">Swiper</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">GesturePassword</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">ChartG2Mobile</div>
      </div>

      <div class="flex-item">
          <div class="placeholder">QQMap</div>
      </div>
      <div class="flex-item">
          <div class="placeholder">微信SDK</div>
      </div>
    </div>
    <article class="weui-article">
      <a href="https://cipchk.github.io/ngx-weui/#/docs/start" target="_blank">官方文档</a>
    </article>

    <router-outlet id="guides-router"></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
