<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS DEMO</title>
</head>
<body ng-app="myApp">

<h1>AngularJS DEMO : $Http</h1>
<hr>

<h2>$location 服务</h2>
它可以返回当前页面的 URL 地址。
<hr>

<div ng-app="myApp" ng-controller="customersCtrl">
    <ul>
        <li ng-repeat="x in names">
            {{ x.Name + ', ' + x.Country }}
        </li>
    </ul>
</div>

</body>
<script src="../../components/angular/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $location, $http) {
        console.log($location);
        console.log($location.$$protocol + "://" + $location.$$host + "/angular/source/mock/data.json");
        $http.get($location.$$protocol + "://" + $location.$$host + "/angular/source/mock/data.json")
                .success(function (response) {
                    $scope.names = response.records;
                });
    });
</script>
</html>