<div class="home-container">
  <div class="body-container container">

    <div class="weui-cells__title">Action Sheet</div>
    <weui-actionsheet #ios [menus]="menus" [config]="config"></weui-actionsheet>
    <weui-actionsheet #android [menus]="menus" [config]="config"></weui-actionsheet>
    <weui-actionsheet #auto [menus]="menus" [config]="config"></weui-actionsheet>

    <div class="weui-cells__title">使用组件形式</div>
    <button weui-button weui-type="default" (click)="onShow('ios', true)">iOS ActionSheet</button>
    <button weui-button weui-type="default" (click)="onShow('android', true)">Android ActionSheet</button>
    <button weui-button weui-type="default" (click)="onShow('auto', false)">自动形式（且点背景不可关闭）</button>
    <div class="weui-cells__title">使用Service形式</div>
    <button weui-button weui-type="default" (click)="onShowBySrv('ios', true)">iOS ActionSheet</button>
    <button weui-button weui-type="default" (click)="onShowBySrv('android', true)">Android ActionSheet</button>
    <button weui-button weui-type="default" (click)="onShowBySrv('auto', false)">自动形式（且点背景不可关闭）</button>

    <router-outlet id="home-router"></router-outlet>

    <app-footer></app-footer>
  </div>
</div>
