<div class="guides-reademe-container">

  <div class="card">
    <div class="card-header">
      <h3><span class="badge badge-info">Setion</span> 环境篇</h3>
    </div>
    <div class="card-body">
      <h4 class="card-title">安装开发环境 <span class="badge badge-info">Guide</span></h4>
      <pre class="card-text">
        - 安装nodejs

            <var>https://nodejs.org/en/</var>

        > 注意：Angular CLI 需要Node 4.X 和 NPM 3.X 以上的版本支持。

        - 卸载 angular cli
            # 目录 /usr/local/lib/node_modules
            sudo npm uninstall -g @angular/cli
            sudo npm cache clean

        - 全局安装

            sudo npm install -g typescript
            sudo npm install -g @angular/cli

            # 选择淘宝npm库: --registry=http://registry.npm.taobao.org/ --disturl=https://npm.taobao.org/dist
            sudo npm install -g typescript --registry=http://registry.npm.taobao.org/ --disturl=https://npm.taobao.org/dist
            sudo npm install -g @angular/cli --registry=http://registry.npm.taobao.org/ --disturl=https://npm.taobao.org/dist


            # 注意: 重新安装时 npm ERR! Refusing to delete /usr/local/bin/ng: ../lib/node_modules/angular-cli/bin/ng # symlink target is not controlled by npm /usr/
            local
            # 需要手动删除 ln

            # 检查安装成功
            ng -v

            - 浏览器中打开Angular文档并搜索当前关键字
            ng doc
      </pre>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3><span class="badge badge-info">Setion</span> 基础篇</h3>
    </div>
    <div class="card-body">
      <h4 class="card-title">基础命令 <span class="badge badge-info">Guide</span></h4>
      <pre class="card-text">

        - 创建一个新的 Angular 项目

            ng help
            ng new [options] name

            .eg : # 创建项目  样式文件使用scss ,引入routing组件
            ng new angular4 --style scss --routing true

        - 运行应用

            # 启动服务 默认端口 4200, 默认监听文件更新, 启动后打开浏览器
            ng serve --port 8080 --watch true --open true

        - 在项目中构建新代码

            ng g [options] name
            .eg : # 创建Module, home模块并生成子路由.
            ng g m home --routing true
            .eg : # 创建Component, home组件.
            ng g c home --routing true

        - 将自动完成功能添加到ng命令的shell中

            ng completion

        - 使用protractor在当前应用中运行e2e测试

            ng e2e

        - 使用clang-format格式化当前项目代码

            ng format

        - 在Angular CLI配置中设置值

            ng get[options]

        ### 开发构建

            ng build --target=development --environment=dev
            ng build --dev --e=dev
            ng build --dev
            ng build

        - 构建生产应用程序，设置GitHub存储库，然后发布应用程序

            ng github-pages:deploy [options]

        - 在项目上运行codelyzer linter

            ng lint

        - 使用 karma 运行单元测试

            ng test [options]

        - 输出cli版本, node 版本和操作系统信息

            ng version

        ### 生产构建

            ng build --target=production --environment=prod
            ng build --prod --env=prod
            ng build --prod
      </pre>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3><span class="badge badge-info">Setion</span> 配置篇</h3>
    </div>
    <div class="card-body">

      <h4 class="card-title">引入 Bootstrap <span class="badge badge-info">Guide</span></h4>
      <pre class="card-text">
        - 文档

            https://ng-bootstrap.github.io/#/getting-started
            https://v4-alpha.getbootstrap.com/

        - 安装 ng-bootstrap & bootstrap@4.0.0-alpha.6

            npm install --save @ng-bootstrap/ng-bootstrap
            npm install --save bootstrap@4.0.0-alpha.6
            # 安装后会在 package.json中声明依赖

        -  app.module.ts中添加bootstrap依赖

            # 引入
            import {{ '{' }} NgbModule {{ '}' }} from '@ng-bootstrap/ng-bootstrap';

            @NgModule({{ '{' }}
              declarations: [
                AppComponent,
                HomeComponent,
                BashboardComponent
              ],
              imports: [
                # 引入
                NgbModule.forRoot(),
                ...
              ],
              providers: [],
              bootstrap: [AppComponent]
            {{ '}' }})
            export class AppModule {{ '{' }} {{ '}' }}

        - 添加 scss依赖 : style.scss

            /** bootstrap **/
            @import "./assets/scss/base/bootstrap-variables.scss"; // 变量文件
            @import '../node_modules/bootstrap/scss/bootstrap.scss';

      </pre>
    </div>
  </div>
</div>
