<div class="footer-container container">

  <div class="footer-nav-container weui-grids">
    <a class="weui-grid nav-item" routerLink="/home" routerLinkActive="active">
        <span class="fa fa-star fa-1x"></span>
        <span class="">Guide</span>
    </a>
    <a class="weui-grid nav-item" routerLink="" routerLinkActive="active">
        <span class="fa fa-book fa-1x"></span>
        <span class="">Home</span>
    </a>
    <a class="weui-grid nav-item" routerLink="/guides" routerLinkActive="active">
        <span class="fa fa-th fa-1x"></span>
        <span class="">Components</span>
    </a>
  </div>
</div>
