<div class="header-container">

  <div class="nav">
    <div class="nav-item">
      <a md-raised-button color="primary"  routerLink="" routerActive="active">
        <md-icon>home</md-icon>
        <span>Material</span>
      </a>
    </div>
    <div class="nav-item">
      <a md-raised-button color="primary" routerLink="/guides" routerActive="active">
        <md-icon>home</md-icon>
        <span>Guide</span>
      </a>
    </div>
    <div class="nav-item">
      <a md-raised-button color="primary" routerLink="/components" routerActive="active">
        <md-icon>home</md-icon>
        <span>Components</span>
      </a>
    </div>
  </div>
</div>
